.cart {
  background: rgba(255, 153, 0, 0.3);
  padding: 25px;
  position: sticky;
  top: 0;
}
.cart p {
  font-size: 17px;
}
.btn-clear-cart {
  width: 90%;
  height: 56px;
  margin: 10px auto;
  font-size: 21px;
  background: #ff3030;
  border-radius: 4px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
