.review-container {
  margin: 50px auto;
}
.proceed-link {
  text-decoration: none;
}
.btn-proceed {
  background: #ff9900;
  width: 90%;
  height: 56px;
  margin: 10px auto;
  font-size: 17px;
  border-radius: 4px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
